@import './styles.scss';

.overview{
    width: 60%;
    font-size: 10pt;
    font-family: Anthropocene-Thin;
    // color: #a2a1a1;
    color:black;
    line-height: 24pt;
}
#data-source{
    font-size: 6pt;
    line-height: 13pt;
}