@font-face {
    font-family: Cosi-Times-Bold;
    src: url(../styles/fonts/CosiTimes-Bold.ttf);
}

@font-face {
    font-family: HK-Grotesk-Light;
    src: url(../styles/fonts/HkGrotesk-Light.ttf);
}

@font-face {
    font-family: Anthropocene-Thin;
    src: url(../styles/fonts/Anthropocene-Thin.otf);
}
@font-face {
    font-family: Anthropocene-Bold;
    src: url(../styles/fonts/Anthropocene-Bold.otf);
}





@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;600&display=swap');



$heading-font: 'Cosi-Times-Bold';
$body-font-bold: 'Anek Devanagari';

html{
    display: flex;
    background-color: #F3F3F1;
    border: 10px solid black;
    height: auto;
    padding: 2em;
    margin: 1em;
    // font-family: Cosi-Times-Bold;
}

